@page "/addentry"
@using System.Text.Json
@using AspireApp.ApiService.Contracts
@using AspireApp.ApiService.Contracts.Enums
@rendermode InteractiveServer
@inject ILogger<AddEntry> Logger

<PageTitle>Add Entry</PageTitle>

<h1>Add Entry</h1>
 
<EditForm Model="Model" OnValidSubmit="Submit" Formname ="add-entry-form">
    <AntiforgeryToken />
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div>
        <label>
            Title:
            <InputText @bind-Value="Model!.Title" />
        </label>
    </div>
    <div>
        <label>
            Description:
            <InputText @bind-Value="Model!.Description" />
        </label>
    </div>
    <div>
        <label>
            Date:
            <InputDate @bind-Value="Model!.Date" />
        </label>
    </div>
    <div>
        <label>
            Distance:
            <InputNumber @bind-Value="Model!.Distance" />
        </label>
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</EditForm>

@code {
    [SupplyParameterFromForm]
    private DailyEntry? Model { get; set; }

    protected override void OnInitialized() => Model ??= new();

    private void Submit() => Logger.LogInformation("Model = {Model}", JsonSerializer.Serialize(Model));
}